.photo-grid {
    margin: 0 auto;
    padding: 0;
    padding-top: 92px;
    width: calc(100% - 96px);
    max-width: 1184px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 928px;
    }


}

@media screen and (max-width: 768px) {
    .photo-grid {
        width: calc(100% - 48px);
        max-width: 720px;
        padding-top: 88px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        width: calc(100% - 32px); 
        padding-top: 64px;
    }
}