.header {
    max-width: 1184px;
    width: calc(100% - 96px);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 28px auto 0;

}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 720px;
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 288px;
        width: calc(100% - 32px);
        margin: 16px auto 0;

    }
}