.intro{
    margin: 0 auto;
    width: calc(100% - 296px);
    padding-top: 92px;
    max-width: 984px;
    }

    @media screen and (max-width: 1024px) {
        .intro {
            width: calc(100% - 96px);
            padding-top: 92px;
        }
    }
    
    @media screen and (max-width: 768px) {
        .intro {
            width: calc(100% - 48px);
        padding-top: 88px;
        }
    }
    
    @media screen and (max-width: 320px) {
        .intro {
            width: calc(100% - 32px);
            padding-top: 64px;
        }
    }
    

