@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);

/*header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__list-row/header__list-row.css);
@import url(../blocks/header/__lang-link_switched/header__lang-link_switched.css);

/*lead*/
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__tittle/lead__tittle.css);
@import url(../blocks/lead/__subtittle/lead__subtittle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__figure/lead__figure.css);
@import url(../blocks/lead/__caption/lead__caption.css);

/*intro*/
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__list-row/intro__list-row.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__title/intro__tittle.css);
@import url(../blocks/intro/__number/intro__number.css);

/*photo-grid*/
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__list/photo-grid__list.css);



.page {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    color: #FFF;
    background-color: #2A2C2F;
    font-family: "Inter", "Arial ", sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
}

.photo-grid__list-row{
margin: 0;
padding: 0;
display: flex;
} 


.photo-grid__item {
    min-width: 284px;
    width: 100%;
    background-size: cover;
}