@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);

/*header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__list-row/header__list-row.css);
@import url(../blocks/header/__lang-link_switched/header__lang-link_switched.css);

/*lead*/
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__tittle/lead__tittle.css);
@import url(../blocks/lead/__subtittle/lead__subtittle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__figure/lead__figure.css);
@import url(../blocks/lead/__caption/lead__caption.css);

/*intro*/
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__list-row/intro__list-row.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__title/intro__tittle.css);
@import url(../blocks/intro/__number/intro__number.css);

/*photo-grid*/
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__list/photo-grid__list.css);
@import url(../blocks/photo-grid/__list-row/photo-grid__list-row.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);

/*places*/
@import url(../blocks/places/places.css);

/*place*/
@import url(../blocks/place/place.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/place/__tittle/place__tittle.css);
@import url(../blocks/place/__url-heading/place__url-heading.css);
@import url(../blocks/place/__website/place__website.css);

.lead__subtittle {
    margin: 0;
    max-width: 640px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
    padding-top: 32px;
}

@media screen and (max-width: 680px) {
    .lead__subtittle {
        font-size: calc(16px + (10 + 10 * 0.7) * ((100vw - 320px) / 1280));
        line-height: 104%;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtittle {
        font-size: 16px;
        line-height: 20px;
        padding-top: 16px;
    }
}


.page {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    color: #FFF;
    background-color: #2A2C2F;
    font-family: "Inter", "Arial ", sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
}

