.cover__background {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 740px;
    background: linear-gradient(0deg, rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url(../../../images/__background/__background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
}

.cover__background:hover {
    background: linear-gradient(0deg, rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url(../../../images/__background/__background.png);
}

@media screen and (max-width: 1024px) {
    .cover__background {
        min-height: 640px;
    }


}

@media screen and (max-width: 768px) {
    .cover__background {
        min-height: 480px;
    }
}

@media screen and (max-width: 480px) {
    .cover__background { 
        min-height: 200px;
        gap: 16px;
    }
}