.lead__tittle {
    margin: 0;
    padding-top: 0;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    font-weight: 900;
    
}

@media screen and (max-width: 680px) {
    .lead__tittle  {
        font-size: calc(40px + (56 + 56 * 0.7) * ((100vw - 320px) / 1280));
        line-height: 104%;
    }
}


@media screen and (max-width: 320px) {
    .lead__tittle  {
        font-size: 40px;
        line-height: 44px;
    }
}