.place__website {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    grid-column: 2;
    grid-row: 1;
    gap: 16px;
}

@media screen and (max-width: 480px) {
    .place__website {
        align-self: flex-start;
        margin: 0 auto;
        width: 100%;
        width: calc(100% - 32px);
        gap: 9px;
    }
}

